<div class="w-50">
  <%= render 'layouts/messages' %>
</div>
<% if @stock %>
  <div class="card card-header d-inline inline-block">
    <strong>Symbol: </strong> <%= @stock.ticker %>
    <strong>Name: </strong> <%= @stock.name %>
    <strong>Price: </strong> <%= @stock.last_price %>
  </div>
<% end %>
