<h2>User profile</h2>
<div class="card card-header d-inline-block h-100  mt-4 mb-2 w-75">
  <table class="col-md-12">
    <tbody>
      <tr>
        <td><strong>Name: </strong> <%= @user.full_name %></td>
        <td><strong>Email: </strong> <%= @user.email %></td>
        <td>
          <% if current_user.not_friends_with?(@user.id) %>
            <%= link_to 'Follow friend?', friendships_path(friend: @user), class: "btn btn-sm btn-success", method: :post %>
          <% else %>
            <span class="badge badge-secondary">
              Your are friends
            </span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<% if !@tracked_stocks.empty?%>
  <%= render 'stocks/list'%>
<% else %>
  <p class="lead">This is User is not tracking any stocks</p>
<% end %>
